:root {
  --bg-color: lightgray;
  --primary-color: rgb(72, 76, 187);
  --white-color: #ffff;
}

* {
  font-family: 'Martian Mono', monospace;
}

body {
  background-color: var(--bg-color);
  background-image: url(/Moon.svg);
}

main {
  background-color: var(--primary-color);
  width: 50vw;
  height: max-content;
  margin-top: 20rem;
  margin: 5rem auto;
  border-radius: 2rem;
  padding: 2.5rem;
  color: var(--white-color);
}

main > header > h1 {
  text-align: center;
  color: var(--white-color);
  margin-top: 1.2rem;
  font-size: 3rem;
}

form {
  margin: 0 auto;
  width: 45rem;
  display: flex;
  flex-direction: column;
}

form > .btn {
  font-size: 1.25rem;
}

label {
  display: inline-block;
}

input,
select {
  height: 2.5rem;
}

input,
textarea {
  font: 1em sans-serif;
  box-sizing: border-box;
}

input,
label,
select,
textarea {
  margin-top: 0.45rem;
  border-radius: 0.25rem;
}

.btn {
  margin-top: 1rem;
  border-radius: 0.25rem;
}
