:root {
  --bg-color: rgb(67, 129, 149);
  --primary-color: lightsalmon;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Martian Mono', monospace;
}

body {
  background-color: var(--bg-color);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 50vh;
}

.msg-sucess {
  background-color: var(--primary-color);
  border-radius: 1rem;
  padding: 1.5rem;
  text-align: center;
  margin-top: 3rem;
  font-size: 1.35rem;
}

h1 {
  color: var(--bg-color);
}

a > button {
  font-size: inherit;
  margin-top: 1rem;
}
